/*background image*/
.my_div{
  position: relative;

}
.my_bg{
  background-image: url("../img/back.JPG");
  background-size: cover;
}
/*breadcrumg*/
#bc2{
  margin-left: 13px;
}
.py-5{
  padding-bottom: 0px !important;
}
#bc{
  padding-top: 30px;
  
}
#brMuName{
  font-weight: 800;
}


.pagination{
  margin-left: 290px;
}

#trash{
  margin-right: 20px;
}

#antImgThumUriM{
  width: 250px;
  height: 300px;
}

#mutext{
  justify-content:center;
}

#favbtn{
  margin-left: 7px;
}

#favbtn2{
  margin-right: 7px;
}

.page{
  margin-top: 30px;
  margin-bottom: 15px;
}