
ul{
  padding-left: 0px;
}
/*background image*/
.my_div{
  position: relative;

}
.my_bg{
  background-image: url("../img/back.JPG");
  background-size: cover;
}

/*breadcrumg*/
#bc2{
  margin-left: 13px;
}
.py-5{
  padding-bottom: 0px !important;
}
#bc{
  margin-top: 90px;
  padding-top: 30px;
  
}
#brMuseName{
  font-weight: 800;
}

/*info*/

#heart{
  width: 50px;
  cursor: pointer;
  color: rgb(241, 124, 124);
  font-size:1.5rem;
  margin-bottom: 10px;
}
.infohead{
  display: flex;
  justify-content: flex-start;
}
.namelist{
  list-style: none;
  padding-left: 10px;
}
.list{
  display: inline; 
  padding-right: 7px;
}
#museType{
  font-weight: bolder;
}

#museName {
  font-size: 32px;
  font-weight: bold;
  color: black;
}

.information{
  margin-left: auto;
  display: flex;
}
.information2{
  list-style: none;
  color: #448c74;
  font-weight: bold;
  text-align: right;
  
}
.museumInfo{
  list-style: none;
  font-weight: bold;
  text-align: right;
}
.infoImage{
  margin: 7px 20px 0px 10px;
}
.info .info-group {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info .info-group > .info-group-item:last-child {
  border-bottom: none;
}

.info .info-group > .info-group-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(209, 204, 204);
  padding: 12px 0;
  position: relative;
}
.info .info-group > .info-group-item label {
  width: 100px;
  margin-right: 25px;
  font-size: 18px;
  display: block;
  font-weight: bold;
}
.info .info-group > .info-group-item:first-child .contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info .info-group > .info-group-item .contents {
  font-size: 16px;
  color: #555;
  letter-spacing: -0.4px;
  width: 530px;
}
.info .info-group > .info-group-item > .item-group {
  display: flex;
  width: 657px;
  align-items: center;
}

#liwithoutborder{
  border-bottom: 0px;
}
.info .info-group > .info-group-item .labeltext{
  width: 170px;
}
.info .info-group > .info-group-item .labeltext2{
  width: 150px;
  margin-left: 0px;
}

#museUrl{
  width: 100px;
}
#museWeekOpen, #museHolidayOpen{
  width: 455px;
}

/*위치*/
.loca_head{
  float: left;
}
.location{
  list-style: none;
  color: #448c74;
  font-weight: bold;
  text-align: left;
  
}
.loca{
  list-style: none;
  font-weight: bold;
  text-align: left;
}



/*전시*/
.exhi_head{
  margin-left: 830px;
}
.exhiInfo {
  list-style: none;
  color: #448c74;
  font-weight: bold;
  text-align: left;
  
}
.exhibithon2{
  list-style: none;
  font-weight: bold;
  text-align: left;
}
.exseemore{
  text-decoration: none;
  font-size: small;
  padding-left: 310px;
}



/* 지도*/
#map{
  margin-left: 10px;
}
.map_map{
  float: left;
}



/* 전시 이미지*/
.exhi_slide{
  float: left;
  margin-left: 40px;
  width: 470px;
  height: 470px;
}

.carousel-control-next{
  margin-right: 20px;
}
#exhi{
  height: 470px;

}


/*리뷰*/
.reviewHead{
  display: flex;
}
.reviewName{
  margin-bottom: 5px;
}
.review1{
  list-style: none;
  color: #448c74;
  font-weight: bold;
  text-align: left;
  
}
.review2{
  list-style: none;
  font-weight: bold;
  text-align: left;
  width: 300px;
}

.trashbtn{
  width: 100px;
  margin-left: 1255px;
  margin-bottom: 2px;
  opacity: 0;
}
.reviewlist:hover .trashbtn{
  opacity: 1;
}

.reviewlist{
  display: none;
}

#seeMore{
  width: 100px;
  margin-left: 20px;
}


#bad{
  font-size: 1rem;
  color: #448c74; 
  cursor: pointer;
}

#good{
  font-size: 1rem;
  color: #448c74; 
  cursor: pointer;
  
}


.reviewlist{
  display: none;
}


#replybtn{
  margin-right: 3px; 
  height: 100px; 
  margin-top: 3px;
}
#reviewSort{
  margin-left: 920px;
}

.reviewContent{
  padding-bottom: 12px;
  border-bottom: solid 1px rgb(182, 175, 175);
}

.reviewDate{
  float: right;
  font-weight: lighter;

}
.likeDislike{
  float: right;
  border: none;
}


/*별점*/
.restar {
  position: relative;
  font-size: 2rem;
  color: rgb(202, 202, 202);
}

.restar input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.restar span {
  width: 0;
  position: absolute; 
  left: 0;
  color: #F0B400;
  overflow: hidden;
  pointer-events: none;
}


#reviewStar{
  margin-left: 1125px;
  
}



.carousel{position:relative}
.carousel.pointer-event{-ms-touch-action:pan-y;touch-action:pan-y}
.carousel-inner{position:relative;width:100%;overflow:hidden}
.carousel-inner::after{display:block;clear:both;content:""}
.carousel-item{position:relative;display:none;float:left;width:100%;margin-right:-100%;-webkit-backface-visibility:hidden;backface-visibility:hidden;transition:-webkit-transform .6s ease-in-out;transition:transform .6s ease-in-out;transition:transform .6s ease-in-out,-webkit-transform .6s ease-in-out}
@media (prefers-reduced-motion:reduce){
  .carousel-item{transition:none}}
  .carousel-item-next,.carousel-item-prev,.carousel-item.active{display:block}
  .active.carousel-item-right,.carousel-item-next:not(.carousel-item-left){-webkit-transform:translateX(100%);transform:translateX(100%)}
  .active.carousel-item-left,.carousel-item-prev:not(.carousel-item-right){-webkit-transform:translateX(-100%);transform:translateX(-100%)}
  .carousel-fade .carousel-item{opacity:0;transition-property:opacity;-webkit-transform:none;transform:none}
  .carousel-fade .carousel-item-next.carousel-item-left,.carousel-fade .carousel-item-prev.carousel-item-right,.carousel-fade .carousel-item.active{z-index:1;opacity:1}
  .carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-right{z-index:0;opacity:0;transition:opacity 0s .6s}
@media (prefers-reduced-motion:reduce){.carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-right{transition:none}}
.carousel-control-next,.carousel-control-prev{position:absolute;top:0;bottom:0;z-index:1;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;width:15%;padding:0;color:#fff;text-align:center;background:0 0;border:0;opacity:.5;transition:opacity .15s ease}
@media (prefers-reduced-motion:reduce){.carousel-control-next,.carousel-control-prev{transition:none}}
.carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover{color:#fff;text-decoration:none;outline:0;opacity:.9}
.carousel-control-prev{left:0}
.carousel-control-next{right:0}
.carousel-control-next-icon,.carousel-control-prev-icon{display:inline-block;width:20px;height:20px;background:50%/100% 100% no-repeat}
.carousel-control-prev-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e")}
.carousel-control-next-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")}
.carousel-indicators{position:absolute;right:0;bottom:0;left:0;z-index:15;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;padding-left:0;margin-right:15%;margin-left:15%;list-style:none}
.carousel-indicators li{box-sizing:content-box;-ms-flex:0 1 auto;flex:0 1 auto;width:30px;height:3px;margin-right:3px;margin-left:3px;text-indent:-999px;cursor:pointer;background-color:#fff;background-clip:padding-box;border-top:10px solid transparent;border-bottom:10px solid transparent;opacity:.5;transition:opacity .6s ease}
@media (prefers-reduced-motion:reduce){.carousel-indicators li{transition:none}}
.carousel-indicators .active{opacity:1}.carousel-caption{position:absolute;right:15%;bottom:20px;left:15%;z-index:10;padding-top:20px;padding-bottom:20px;color:#fff;text-align:center}
@-webkit-keyframes spinner-border{to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spinner-border{to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
