.breadcrumb{--ar-breadcrumb-padding-x: 0;--ar-breadcrumb-padding-y: 0;--ar-breadcrumb-margin-bottom: 1rem;--ar-breadcrumb-font-size:calc(var(--ar-body-font-size) * 0.875);--ar-breadcrumb-bg: ;--ar-breadcrumb-border-radius: ;--ar-breadcrumb-divider-color: var(--ar-gray-600);--ar-breadcrumb-item-padding-x: 0.5rem;--ar-breadcrumb-item-active-color: var(--ar-primary);display:flex;flex-wrap:wrap;padding:var(--ar-breadcrumb-padding-y) var(--ar-breadcrumb-padding-x);margin-bottom:var(--ar-breadcrumb-margin-bottom);font-size:var(--ar-breadcrumb-font-size);list-style:none;background-color:var(--ar-breadcrumb-bg);border-radius:var(--ar-breadcrumb-border-radius)}.breadcrumb-item+.breadcrumb-item{padding-left:var(--ar-breadcrumb-item-padding-x)}.breadcrumb-item+.breadcrumb-item::before{float:left;padding-right:var(--ar-breadcrumb-item-padding-x);color:var(--ar-breadcrumb-divider-color);content:var(--ar-breadcrumb-divider, "\e939") /* rtl: var(--ar-breadcrumb-divider, "\e938") */}.breadcrumb-item.active{color:var(--ar-breadcrumb-item-active-color)}
.breadcrumb{--ar-breadcrumb-color: var(--ar-gray-600);--ar-breadcrumb-font-weight: 500;--ar-breadcrumb-divider-font-size:1.2em;--ar-breadcrumb-item-hover-color: var(--ar-gray-900);font-weight:var(--ar-breadcrumb-font-weight)}.breadcrumb-item{display:flex;align-items:center}.breadcrumb-item+.breadcrumb-item::before{margin-top:.15em;font-family:"around-icons";font-weight:normal;font-size:var(--ar-breadcrumb-divider-font-size);line-height:1}.breadcrumb-item>a{display:flex;align-items:center;color:var(--ar-breadcrumb-color);text-decoration:none}.breadcrumb-item:hover>a{color:var(--ar-breadcrumb-item-hover-color)}
.breadcrumb-item+.breadcrumb-item{padding-left:var(--ar-breadcrumb-item-padding-x)}.breadcrumb-item+.breadcrumb-item::before{float:left;padding-right:var(--ar-breadcrumb-item-padding-x);color:var(--ar-breadcrumb-divider-color);content:var(--ar-breadcrumb-divider, "\e939") /* rtl: var(--ar-breadcrumb-divider, "\e938") */}.breadcrumb-item.active{color:var(--ar-breadcrumb-item-active-color)}
.ai-home:before{content:""}
.fs-base{font-size:1rem !important}
.body{
  /*배경*/
  background-image: url(../img/back1.JPG);
  background-size: cover;
}

/* 홈>박물관>박물관검색 */
.home-mu{
    margin-left: 300px;
    margin-top: 50px;
    position: relative;
    margin-bottom: 5%;
}
/*breadcrumg*/ 
#bc2{
  margin-left: 13px;
}
.py-5{
  padding-bottom: 0px !important;
}
#bc{
  margin-top: 90px;
  padding-top: 30px;
  
}
#antName{
  font-weight: 800;
}


.bi-house{
  position: absolute;
  left: 20px;
  font-size: 20px;
  top: 0px;
}
.righticon1{
  position: absolute;
  left: 45px;
  font-size: 20px;
  color: darkgray;
}
.icontext1{
  position: absolute;
  left: 22px;
  font-size: 15px;
  width: 50px;
  text-align: center;
  bottom: 1px;
  color: darkgray;

}
.righticon2{
  position: absolute;
  left: 120px;
  font-size: 20px;
  color: darkgray;
}
.icontext2{
  position: absolute;
  left: 22px;
  font-size: 15px;
  width: 90px;
  bottom: 1px;
  color: #448c74;
}

/* searchbar */
.mu-search-bar{
  position: relative;
}
.selectbox{
  position: absolute;
  top: 25px;
  left: 50px;
}       
.input {
    width: 160px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
}
.select{
    width: 250px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
}
.mapbutton{
  position: absolute;
  bottom: 55px;
  left: 480px;
  width: 100px;
}
.map-text a{
  color: white;
  font-size: 1rem;
}
.mapbutton:hover{
  color: #448c74;
  border-radius: 0.7rem;
}
.mapbutton a{
  text-decoration-line: none;
  text-decoration: none;
}
.searchbutton{
  position: absolute;
  top: 3px;
  left: 1050px;
  color: #448c74;
  margin: 0;
}

.resetbutton{
  width: 100px;
  position: absolute;
  bottom: 110px;
  left: 900px;
  background-color: #fff;
  color: #000;
}
#resetbutton:hover{
  background-color: #fff;
  color: #448c74;
}

.searchbutton > .btn{
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-weight: 400;
  line-height: 1.6;
  color: white;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #448c74;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 0.7rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.mapbutton > .btn{
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-weight: 400;
  line-height: 1.6;
  height: 10px;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #448c74;
  padding: 15px 30px;
  border-radius: 0.7rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



.resetbutton > .btn{
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-weight: 400;
  line-height: 1.6;
  color: black;
  background-color: white;
  border: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.525rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn.btn-form-control {
  --bs-btn-color: #ced4da;
  --bs-btn-border-color: #ced4da;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #ced4da;
  --bs-btn-hover-border-color: #ced4da;
  --bs-btn-focus-shadow-rgb: 206, 212, 218;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #ced4da;
  --bs-btn-active-border-color: #ced4da;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ced4da;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ced4da;
  --bs-gradient: none;
  color: #212529;
  border: none;
  font-size: 0.8rem;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0.3;
}
/*버튼 바꾸기*/
.btn-primary {
  --ar-btn-color: #000;
  --ar-btn-bg: #448c74;
  --ar-btn-border-color: #448c74;
  --ar-btn-hover-color: #000;
  --ar-btn-hover-bg: #609d89;
  --ar-btn-hover-border-color: #579882;
  --ar-btn-focus-shadow-rgb: 58, 119, 99;
  --ar-btn-active-color: #000;
  --ar-btn-active-bg: #69a390;
  --ar-btn-active-border-color: #579882;
  --ar-btn-active-shadow: unset;
  --ar-btn-disabled-color: #000;
  --ar-btn-disabled-bg: #448c74;
  --ar-btn-disabled-border-color: #448c74;
  margin-left: 10px;
}
.btn:hover {
  color: #fff;
  background-color: #37715d;
  border-color: var(--ar-btn-hover-border-color);
}
/*=================*/
.region{
    position: absolute;
    bottom: 24px;
    left: 20px;
    font-size: 1.2rem;
    font-weight: bold;
  }
.search-bar {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
    height: 140px;
  }
  .search-bar .form-group {
    position: relative;
    margin-bottom: 0;
  }
  .search-bar .form-group.no-divider::after, .search-bar .form-group:last-of-type::after {
    display: none;
  }
  .search-bar .form-control {
    height: calc(1.6em + 1rem + 2px);
  }
  .search-bar .input-label-absolute-right .label-absolute {
    right: 0;
  }
  .search-bar.search-bar-with-tabs {
    border-radius: 0.4rem;
  }
  
  @media (max-width: 991.98px) {
    .search-bar {
      border-radius: 20px;
    }
    .search-bar .form-group {
      margin-bottom: 1rem;
    }
    .search-bar .form-group::after {
      display: block;
      width: calc(100% - 4rem);
      height: 1px;
      content: "";
      transform: translateX(-50%);
      background: #dee2e6;
      position: absolute;
      top: auto;
      right: auto;
      bottom: 0;
      left: 50%;
    }
    .search-bar .form-control {
      height: calc(1.6em + 0.75rem + 2px);
      padding: 10px 20px;
    }
    .search-bar .input-label-absolute-right .label-absolute {
      right: 1rem;
    }
    .search-bar .bootstrap-select {
      display: block !important;
      width: 100% !important;
      padding: 0;
    }
    .search-bar .bootstrap-select button {
      display: block;
      width: 100% !important;
      padding: 10px 20px;
    }
  }
  .search-bar .form-group {
    position: relative;
    margin-bottom: 0;
  }
  .search-bar .form-group::after {
    display: block;
    width: 1px;
    height: 60%;
    content: "";
    position: absolute;
    top: 20%;
    right: 0;
  }
  .search-bar .form-group.no-divider::after, .search-bar .form-group:last-of-type::after {
    display: none;
  }
 
  
  /* 박물관 리스트 */
  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
  }
 .rounded {
    border-radius: var(--bs-border-radius) !important;
  }
  .p-3 {
    padding: 1rem !important;
  }
  .p-lg-4 {
    padding: 1.5rem !important;
  }
  .position-relative {
    position: relative !important;
  }
  .mt-n5 {
    margin-top: -3rem !important;
  }
  .z-index-20 {
    z-index: 20 !important;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .d-flex {
    display: flex !important;
  }
  .align-items-center {
    align-items: center !important;
  }
  
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  } 
  .d-grid {
    display: grid !important;
  }
.mb-0 {
    margin-bottom: 0 !important;
  }
 
  /*박물관 정보*/
.museum-card{
  width: 1200px;
  
}
.museum-detail{
  margin-left: 30%;
  position: relative;
}
.bi-heart{
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 30px;
}
.bi-heart-fill{
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 30px;
  color: red;
}
.listnumber{
  padding-bottom: 30px;
  margin-top: 30px;
}
.page-item{
  font-size: 1.3rem;
}
  /*박물관 정보 section  */
.row1 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
} 

.col-md-4, .col-6,.col-12,.col-lg-6,.col-xl-7,.col-xl-5{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-md-12{
  flex: 0 0 auto;
  width: 100%;
}
.col-lg-3{
  flex: 0 0 auto;
  width: 25%;
}
.col-sm-3{
  flex: 0 0 auto;
  width: 25%;
}

.col-sm-4{
  flex: 0 0 auto;
  width: 33.33333333%;
}
.col-lg-2{
  flex: 0 0 auto;
    width: 16.66666667%;
}
.col-sm-5{
  flex: 0 0 auto;
  width: 41.66666667%;
}
.col-lg-4{
    flex: 0 0 auto;
    width: 33.33333333%;
}
.col-xl-3{
  flex: 0 0 auto;
  width: 25%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}
.mb-4,
.my-4 {
    margin-bottom: 1.5rem !important;
}
.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-xl-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
.col-xl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
.p-0 {
  padding: 0 !important;
}
  
.p-2 {
  padding: 0.5rem !important;
}
.pl-0,
.px-0 {
    padding-left: 0 !important;
}
.pr-0,
.px-0 {
    padding-right: 0 !important;
}
.rounded-xl {
  border-radius: 0.85rem !important;
}
.d-flex {
  display: flex !important;
}
.d-block {
  display: block !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

small,
.small {
    font-size: 80%;
    font-weight: 400;
}
.text-muted {
  color: #52547a !important;
}
.font-small {
  font-size: 0.875rem;
  font-weight: 300;
}
.text-dark {
  color: #0d1b48 !important;
}
.text-dark, .text-dark:hover {
  color: #0d1b48 !important;
}

.text-dark a:not(.btn), .text-dark h1, .text-dark h2, .text-dark h3, .text-dark h4, .text-dark h5, .text-dark h6, .text-dark .h1, .text-dark .h2, .text-dark .h3, .text-dark .h4, .text-dark .h5, .text-dark .h6, .text-dark .display-1, .text-dark .display-2, .text-dark .display-3, .text-dark .display-4 {
  color: #0d1b48;
}

.text-dark .text-muted {
  color: rgba(13, 27, 72, 0.7) !important;
}
.font-weight-bold {
  font-weight: 500 !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.75rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.3;
    color: #0d1b48;
}
h5, .h5 {
  font-size: 1.25rem;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.mt-3,
.my-3 {
    margin-top: 1rem !important;
}
.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.45rem;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 1rem 1rem;
  background-color: #ffffff;
  border: 0.0625rem solid #ffffff;
}
.list-group-item {
  background: transparent;
}

.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.list-group-item:last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.list-group-item.disabled, .list-group-item:disabled {
  color: #52547a;
  pointer-events: none;
  background-color: #ffffff;
}

.list-group-item.active {
  z-index: 2;
  color: #C33C54;
  background-color: #ffffff;
  border-color: #edf0f7;
}

.list-group-item + .list-group-item {
  border-top-width: 0;
}
.list-group-item + .list-group-item {
  border-top-width: 0;
}

.list-group-item + .list-group-item.active {
  margin-top: -0.0625rem;
  border-top-width: 0.0625rem;
}
.list-group-horizontal > .list-group-item:first-child {
  border-bottom-left-radius: 0.45rem;
  border-top-right-radius: 0;
}

.list-group-horizontal > .list-group-item:last-child {
  border-top-right-radius: 0.45rem;
  border-bottom-left-radius: 0;
}

.list-group-horizontal > .list-group-item.active {
  margin-top: 0;
}

.list-group-horizontal > .list-group-item + .list-group-item {
  border-top-width: 0.0625rem;
  border-left-width: 0;
}

.list-group-horizontal > .list-group-item + .list-group-item.active {
  margin-left: -0.0625rem;
  border-left-width: 0.0625rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 0.0625rem solid rgba(255, 255, 255, 0.05);
  border-radius: 0.45rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}

.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.45rem - 0.0625rem);
  border-top-right-radius: calc(0.45rem - 0.0625rem);
}

.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.45rem - 0.0625rem);
  border-bottom-left-radius: calc(0.45rem - 0.0625rem);
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.5rem;
}
.card-img,
.card-img-top,
.card-img-bottom {
    flex-shrink: 0;
    /* width: 100%; */
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(0.45rem - 0.0625rem);
    border-top-right-radius: calc(0.45rem - 0.0625rem);
}

.card-img,
.card-img-bottom {
    border-bottom-right-radius: calc(0.45rem - 0.0625rem);
    border-bottom-left-radius: calc(0.45rem - 0.0625rem);
}

.border-light {
  border-color: #edf0f7 !important;
}

@media (max-width: 767.98px) {
  .vertical-timeline .row .col-md-6 {
      text-align: center !important;
      margin-top: 3rem;
  }
}
.animate-up-5{
    transition: all 0.2s ease;
}
.animate-up-5:hover,
.animate-hover:hover .animate-up-5 {
    transform: translate(0, -5px);
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.align-items-center {
  align-items: center !important;
}

  /*footer 배열*/
footer{
  margin: 0;
  padding: 0;
  }
/* input-group  footer*/

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}   

  /*footer nav 글씨*/
  #footer_nav{
    font-weight: 100;
  }
  .nav-link {
    display: block;
    padding: var(--ar-nav-link-padding-y) var(--ar-nav-link-padding-x);
    font-size: var(--ar-nav-link-font-size);
   
    color: var(--ar-nav-link-color);
    text-decoration: none;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }